<!DOCTYPE html>
<html>

	<head>
		<title>Результат</title>
	</head>


	<body>

		<div id="res_output"></div>

		<script type="text/javascript">
	    $(function(){
	    get_res();
			});
	  </script>


	</body>


</html>
